/*

Innehållsförteckning

1. Login page
2. Navbar
3. Content page
  3.1. Search & Filter
  3.2. Content

*/


/* 1. Log in page */

.login {
  width: 100vw;
  height: 100vh;
  background-color: #004F9E;
}

.background-design {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.welcome-content-container {
  width: 32rem;
  height: 12.5rem;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  color: #FFFFFF;
}

.welcome-content-container h1 {
  width: 20rem;
}

.welcome-info {
  width: 15rem;
  font-size: 0.75rem;
  margin-top: 1rem;
}

.welcome-right-wrapper h4 {
  margin-bottom: 1rem;
}

.position-bottom {
  position: absolute;
  bottom: 0;
  width: 13rem;
}

.welcome-right-wrapper label {
  padding: .6rem 0 .2rem;
  font-size: .75rem;
}

.welcome-right-wrapper input {
  margin-bottom: .1rem;
  border-radius: 5px;
  border-style: none;
  width: 10rem;
  height: 1.4rem;
  padding-left: .2rem;
  font-size: .75rem;
}

.welcome-left-wrapper {
  padding-left: .5rem;
}

.log-in-btn {
  width: 1.6rem;
  height: auto;
  margin-left: .8rem;
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.log-in-btn:hover {
  color: #a6e7a2;
}


/* 2. Navbar */

.navbar {
  display: flex;
  width: 50rem;
  padding: .5rem .6rem 7rem;
  color: #FFFFFF;
  position: absolute;
  top: 0;
}

.nav-background {
  width: 50rem;
}

.menu-icon {
  cursor: pointer;
  margin: .65rem 0 0 .3rem;
}

.nav-list {
  background-color: #D9D9D9;
  color: #000000;
  border-radius: 0 0 40px 0;
  padding: 4rem 1.8rem 3rem 1.7rem;
  position: absolute;
  top: 3.8rem;
  left: 0;
  z-index: -1;
}

.nav-links {
  font-size: 14px;
  list-style: none;
  margin-bottom: .8rem;
}

.nav-links a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.profil-icon {
  margin-top: .8rem;
  margin-left: 1rem;
  cursor: pointer;
  z-index: 3;
}

.log-out-btn {
  width: 4.2rem;
  height: 1.5rem;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  margin: 1rem 2rem;
  color: #004F9E;
  background-color: transparent;
  font-weight: 600;
}

/* 3. Content page */

.content-header {
  display: flex;
  position: absolute;
  top: 8rem;
  left: 3rem;
  width: 93vw;
  z-index: -2;
}

.content-info-text {
  font-size: .75rem;
}

/* 3.1. Search & Filter */

.find-content-wrapper {
  font-size: 1rem;
  position: absolute;
  right: 0;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #D9D9D9;
  border: none;
  width: 10rem;
  height: 2rem;
  padding: 0 .6rem;
  font-size: .75rem;
  border-radius: 20px 0 0 20px;
  margin: 0;
}

.search-input:focus {
  outline: none;
}

.search-button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #B0B0B0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #004F9E;
}
.search-button:hover .search-icon{
  color: #FFFFFF;
}

.filter-wrapper {
  display: flex;
  align-items: center;
}

.filter-bar {
  background-color: #D9D9D9;
  width: 10rem;
  height: 1rem;
  font-size: .75rem;
  padding: .5rem .6rem;
  margin: .5rem 0;
  border-radius: 20px 0 0 20px;
}

.filter-button {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #B0B0B0;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.filter-icon {
  margin-top: .4rem;
}

/* 3.2. Content */

.thumbnail-wrapper {
  width: 100vw;
  position: absolute;
  top: 15rem;
  left: 1.3rem;
  display: flex;
}

.material-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cover {
  width: 23rem;
  border-radius: 20px;
  margin: .6rem .6rem;
  z-index: -3;
}

.material-name-wrapper {
  width: 100%;
  position: absolute;
  top: 15rem;
  left: 0;
}

.material-name {
  width: 21rem;
  height: 2.5rem;
  background-color: #004F9E80;
  margin: .6rem .6rem 11.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: #FFFFFF;
  border-radius: 20px 20px 0 0;
  z-index: -2;
}
